[submodule "dwm"]
	path = dwm
	url = git@github.com:szatanjl/dwm.git
[submodule "st"]
	path = st
	url = git@github.com:szatanjl/st.git
[submodule "dmenu"]
	path = dmenu
	url = git@github.com:szatanjl/dmenu.git
[submodule "slock"]
	path = slock
	url = git@github.com:szatanjl/slock.git
[submodule "dwm-utils"]
	path = dwm-utils
	url = git@github.com:szatanjl/dwm-utils.git
